<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} productos" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gestionar Productos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Codigo <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name">Descripción <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Imagen</th>
                        <th pSortableColumn="price">Precio <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="category">Categoria <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="cantidad">Cantidad <p-sortIcon field="cantidad"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Codigo</span>
                            {{product.codigo || product.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{product.nombre}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Descripción</span>
                            {{product.descripcion}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Imagen</span>
                            <img [src]="product.fotos[0].imageUrl" [alt]="product.nombre" width="100" class="shadow-4" />
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Precio</span>
                            {{product.precio | currency:'CLP '}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Categoria</span>
                            {{product.subgrupoNombre}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Cantidad</span>
                            {{product.cantidad}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '800px'}" header="Detalle del Producto" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <p-fileUpload #subirFotos chooseLabel="Seleccionar imágenes" uploadLabel="Cargar imágenes" cancelLabel="Cancelar"
                                  accept="image/*" name="myfile[]" [disabled]="itemNew.fotos?.length === 3"
                                  customUpload="true" (uploadHandler)="subirFoto($event)" (onRemove)="eliminarFoto($event)" (onClear)="eliminarFotos()" (onSelect)="seleccionarFotos($event)" invalidFileTypeMessageSummary="{0}: Tipo de archivo inválido,"
                                  invalidFileTypeMessageDetail="Solo se permiten imágenes" maxFileSize="{{maxSize}}" multiple="multiple"
                                  invalidFileSizeMessageSummary="{0}: Tamaño supera el límite," invalidFileSizeMessageDetail="Tamaño máximo es {0}."
                                  pTooltip="Se recomienda imagen con resolución 1920x1080 o 1080x1920. Tamaño máximo 3 Mb."
                                  [ngClass]="{'ng-invalid ng-dirty' : submitted && itemNew.fotos?.length === 0}"
                                  >
                    </p-fileUpload>
                    <div *ngIf="this.itemNew?.fotos?.length > 0" class="p-field p-col-12 p-md-12">
                        <p-table [value]="this.itemNew.fotos" [autoLayout]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th style="width: 12%;">Acciones</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-archivo let-index="rowIndex">
                                <tr>
                                    <td>{{ archivo.nombre }}</td>
                                    <td>{{ archivo.tipo }}</td>
                                    <td style="width: 12%;">
                                        <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-warning" (click)="descargarArchivo(archivo)"></button>
                                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-secondary" (click)="eliminarArchivo(archivo)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && itemNew.fotos?.length === 0">Debe adjuntar una foto.</small>
                </div>
                <div class="field">
                    <label for="name">Código</label>
                    <input type="text" pInputText id="name" [(ngModel)]="itemNew.codigo" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !itemNew.codigo}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !itemNew.codigo">Código es requerido.</small>
                </div>
                <div class="field">
                    <label for="name">Nombre</label>
                    <input type="text" pInputText id="name" [(ngModel)]="itemNew.nombre" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !itemNew.nombre}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !itemNew.nombre">Nombre es requerido.</small>
                </div>
                <div class="field">
                    <label for="description">Descripion</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="itemNew.descripcion" required rows="3" cols="20" [ngClass]="{'ng-invalid ng-dirty' : submitted && !itemNew.descripcion}"></textarea>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !itemNew.descripcion">Descripción es requerida.</small>
                </div>

                <div class="field">
                    <label class="mb-3">Tipo</label>
                    <div class="formgrid grid">
                        <div class="field-dropdown-grid col-6">
                            <p-dropdown id="selectTipo" [options]="tipoProductos" [ngClass]="{'ng-invalid ng-dirty' : submitted && !selectedTipo.codigo}"
                                        [(ngModel)]="selectedTipo"
                                        optionLabel="nombre"
                                        [filter]="true"
                                        filterBy="name"
                                        [showClear]="true"
                                        placeholder="Seleccione tipo">
                            </p-dropdown>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedTipo.codigo">Tipo de producto es requerido.</small>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="mb-3">Categoria</label>
                    <div class="formgrid grid">
                        <div class="field-dropdown-grid col-6">
                            <p-dropdown id="selectGrupo" [options]="grupos" (onChange)="cambioGrupo($event)"
                                        [(ngModel)]="selectedGrupo" [ngClass]="{'ng-invalid ng-dirty' : submitted && !selectedGrupo.codigo}"
                                        optionLabel="nombre"
                                        [filter]="true"
                                        filterBy="name"
                                        [showClear]="true"
                                        placeholder="Seleccione grupo">
                            </p-dropdown>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedGrupo.codigo">Grupo es requerido.</small>
                        </div>
                        <div class="field-dropdown-grid col-6">
                            <p-dropdown id="selectSubgrupo" [options]="subgrupos"
                                        [(ngModel)]="selectedSubgrupo" [ngClass]="{'ng-invalid ng-dirty' : submitted && !selectedSubgrupo.codigo}"
                                        optionLabel="nombre"
                                        [filter]="true"
                                        filterBy="name"
                                        [showClear]="true"
                                        placeholder="Seleccione subgrupo">
                            </p-dropdown>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedSubgrupo.codigo">Subgrupo es requerido.</small>
                        </div>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Cantidad</label>
                        <p-inputNumber id="cantidad" [(ngModel)]="itemNew.cantidad" [ngClass]="{'ng-invalid ng-dirty' : submitted && itemNew.cantidad == null}"></p-inputNumber>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && itemNew.cantidad == null">Cantidad es requerido.</small>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Precio</label>
                        <p-inputNumber id="precio" [(ngModel)]="itemNew.precio" mode="currency" currency="CLP" locale="en-CL" [ngClass]="{'ng-invalid ng-dirty' : submitted && itemNew.precio == null}"></p-inputNumber>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && itemNew.precio == null">Precio es requerido.</small>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Estas seguro que quiere eliminar el producto <b>{{product.nombre}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
