<div class="surface-0 flex justify-content-center">
    <div id="home" class="landing-wrapper overflow-hidden">
        <div class="topbar py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex relative lg:static mb-3">
            <a class="flex align-items-center cursor-pointer" (click)="router.navigate(['/landing'], {fragment: 'home'})">
                <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-large' : 'logo-white'}}.jpeg" alt="Sandra Kata" height="100" class="mr-0 lg:mr-2">
            </a>
            <ul class="menu">
                <li><a (click)="router.navigate(['/landing'], {fragment: 'home'})" class="cursor-pointer">Inicio</a></li>
                <li *ngFor="let item of items">
                    <a (click)="router.navigate(['/landing'], {fragment: 'home'})" class="cursor-pointer">{{ item.label }}</a>
                    <ul class="submenu" *ngIf="item.items && item.items.length > 0">
                        <li *ngFor="let subItem of item.items[0]">
                            <a (click)="router.navigate(['/landing'], {fragment: 'home'})" class="cursor-pointer">{{ subItem.label }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="grid justify-content-center">
            <div class="col-12 text-center mt-8 mb-4">
                <h2 class="text-900 font-normal mb-2">Destacados</h2>
            </div>
        </div>

        <p-carousel [value]="productsDestacados" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000">
            <ng-template let-product pTemplate="item">
                <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                    <div class="mb-3">
                        <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" class="w-10 shadow-2" />
                    </div>
                    <div>
                        <h4 class="mb-1">{{ product.name }}</h4>
                        <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>
                        <p-tag [value]="product.inventoryStatus"></p-tag>
                        <div class="car-buttons mt-5">
                            <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>
                            <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-cart-plus"></p-button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>

        <div class="grid justify-content-center">
            <div class="col-12 text-center mt-8 mb-4">
                <h2 class="text-900 font-normal mb-2">Conjuntos</h2>
            </div>
        </div>

        <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="true">
            <ng-template let-product pTemplate="item">
                <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                    <div class="mb-3">
                        <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" class="shadow-2" />
                    </div>
                    <div>
                        <h4 class="mb-1">{{ product.name }}</h4>
                        <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>
                        <p-tag [value]="product.inventoryStatus"></p-tag>
                        <div class="car-buttons mt-5">
                            <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>
                            <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-cart-plus"></p-button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>


        <div class="py-4 px-4 mx-0 mt-8 lg:mx-8">
            <div class="grid justify-content-between items-center">
                <div class="col-12 md:col-2" style="margin-top: -1.5rem;">
                    <a (click)="router.navigate(['/landing'], {fragment: 'home'})" class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer">
                        <img src="assets/layout/images/logo-small.jpeg" alt="footer sections" height="300" class="mr-2">
                    </a>
                </div>
                <div class="col-12 md:col-10 lg:col-7 flex justify-content-center md:justify-content-end">
                    <div class="grid text-center md:text-left">
                        <div class="col-12 md:col-3 flex justify-content-center md:justify-content-end">
                            <a (click)="router.navigate(['/landing'], {fragment: 'home'})" class="flex align-items-center justify-content-center md:justify-content-end md:mb-0 mb-3 cursor-pointer mr-4">
                                <img src="assets/layout/images/instagram.png" alt="footer sections" height="50" class="mr-2">
                            </a>
                            <a (click)="router.navigate(['/landing'], {fragment: 'home'})" class="flex align-items-center justify-content-center md:justify-content-end md:mb-0 mb-3 cursor-pointer">
                                <img src="assets/layout/images/whatsapp.png" alt="footer sections" height="50" class="mr-2">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
